h2 {
    margin-bottom: 20px;
}

.checklist {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 2.7777777777777777vw;
    height: 2.7777777777777777vw;
    border-radius: 50%;
    background-color: #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.present {
    background-color: #4caf50;
    color: white;
}

.day-name {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}
.qrcode{
    width: 200px;
}
.card{
    box-shadow: 0 6px 22px hsla(230, 10%, 5%, 0.5);
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    padding: 5px;
}
.card-mask {
    height: 6.944444444444445vw;
    background-color: var(--gray-color);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.card-mask img {
    width: 6.597222222222222vw;
    height: 6.597222222222222vw;
}
.card_text{
    font-size: 12px;
}
.contend{
    flex-wrap: wrap;
}
.card-interno{
    box-shadow: 0 6px 22px hsla(230, 10%, 5%, 0.5);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    height: 120px;
}
.mensagen-interna{
    height: 300px;
}
.presenca{
    width: 36.111111111111114vw;
    align-self: baseline;
}
.principal{
    width: 400px;
    height: 350px;
}
.mensagens{
    width: 36.111111111111114vw;
    align-self: baseline;
}
.pendencias{
    width: 41.666666666666664vw;
}
.noticias{
    height: 300px;
}
.tabela {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

.tabela th, 
.tabela td {
    border: 1px solid #dfdcdc;
    padding: 8px;
    text-align: left;
}

.tabela th {
    background-color: #d8d8d8;
    font-weight: bold;
    text-align: center;
}

.tabela tr:nth-child(even) {
    background-color: #e2e1e1;
}

.tabela tr:hover {
    background-color: #c9c6c6;
    transition: background-color 0.3s ease;
}
.pagination {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.pagination a {
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #0056b3;
}
.sair{
    margin-top: 10px;
}
a{
    color: hsl(230, 100%, 50%);
    text-decoration: none;
}